{% extends 'layout/frontend/user-profile.html' %}

{% block container_user_profile %}
<div class="row">
    {% for item in items %}
        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-body panel-body-has-thumbnail">
                    <a class="thumbnail thumbnail-in-panel" href="{{ urlFor('item.detail', { item_id: item.id }) }}">
                        <img src="{{ itemImageUrl(item.images.first().image, '200x200') }}" data-src="" alt="">
                    </a>
                </div>
                <div class="panel-footer text-center">{{ item.title | cutString(30) }}</div>
            </div>
        </div>
    {% else %}
        <div class="col-md-12">
            <div class="alert alert-info" role="alert">{{ locale('No item in this list') }}</div>
        </div>
    {% endfor %}
</div>
<div class="row">
    <div class="col-md-12">
        {{ paginate | raw }}
    </div>
</div>
{% endblock %}
