<!DOCTYPE html>
<html>
<head>
<meta charset='utf-8'>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Hand</title>
<link href="{{ baseUrl() }}/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
<link href="{{ baseUrl() }}/static/client/css/default.css" rel="stylesheet" media="screen">
<script src="{{ baseUrl() }}/static/vendor/jquery/jquery.min.js"></script>
<script src="{{ baseUrl() }}/static/vendor/jquery.parseparams.js"></script>
{% if config.default.turbolinks %}
    <script src="{{ baseUrl() }}/static/vendor/jquery.turbolinks.js"></script>
    <script src="{{ baseUrl() }}/static/vendor/turbolinks.js"></script>
{% endif %}
<script src="{{ baseUrl() }}/static/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="{{ baseUrl() }}/static/vendor/bootstrap.file-input.js"></script>
<script src="{{ baseUrl() }}/static/client/js/default.js"></script>
</head>
<body>
<div class="navbar navbar-default navbar-hand" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">On/Off Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ urlFor('index.index') }}">Hand</a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ urlFor('index.index') }}">Home</a></li>
                <li><a href="{{ urlFor('search.index') }}">Search</a></li>
                {% if session.user is not empty %}
                    <li><a href="{{ urlFor('trade.index') }}">Trade</a></li>
                    <li><a href="{{ urlFor('bookmark.index') }}">Bookmark</a></li>
                    <li><a href="{{ urlFor('message.manage') }}">Message</a></li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav pull-right">
                {% if session.user is empty %}
                    <li><a href="{{ urlFor('index.signup') }}">Sign up</a></li>
                    <li><a href="{{ urlFor('index.signin') }}">Sign in</a></li>
                {% else %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Item <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ urlFor('user.item.create') }}">Create Items</a></li>
                            <li><a href="{{ urlFor('user.item.manage') }}">Manage Items</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ session.user.username }} <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ urlFor('user.profile', { username: session.user.username }) }}">Profile</a></li>
                            <li><a href="{{ urlFor('user.account') }}">Account</a></li>
                            <li><a href="{{ urlFor('user.password') }}">Password</a></li>
                            <li><a href="{{ urlFor('user.settings') }}">Settings</a></li>
                            <li class="divider"></li>
                            <li><a href="{{ urlFor('index.signout') }}">Logout</a></li>
                        </ul>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
<div class="container">
    {% include "shared/flash-message.html" %}

    {% block container %}
    {% endblock %}
</div>
<div class="footer">
    <div class="container">
        <hr>
        <p>
            <span class="pull-left">&copy; HandHand 2014</span>
            <span class="pull-right">&nbsp;</span>
        </p>
    </div>
</div>
</body>
</html>
