body {
    background: #efefef;
}

hr {
    border-color: #d3d3d3;
}

hr.hr-md {
    margin-top: 10px;
    margin-bottom: 10px;
}

.footer {
    color: #777777;
    padding: 20px 0 10px;
}

/* theme */
.navbar-hand {
    background: #455a6e;
}

.navbar-hand a.navbar-brand:hover {
    color: #FFFFFF;
}

.navbar-hand .navbar-header a {
    color: #FFFFFF;
}

.navbar-hand .navbar-nav > li > a {
    color: #C8D6E3;
}

.navbar-hand .navbar-nav > li > a:hover {
    color: #FFFFFF;
}

.well-hand {
    background: #FFFFFF;
}

.thumbnail-in-panel {
    border: 0px;
    margin-bottom: 0px;
}

.thumbnail-blur {
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px);

    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    filter: alpha(opacity=90);
    opacity: 0.9;
}

.panel-item-detail-height {
    min-height: 375px;
}

.panel-body-has-thumbnail, .panel-body-remove-padding {
    padding: 0px;
}

.alert-comment-zero {
    margin-bottom: 0px;
}

.row-info {
    padding: 5px 0px;
}

.row-info-control {
    padding-top: 15px;
}

.col-status-items > div:nth-child(even) {
    border-left: 1px solid #CCC;
    border-right: 1px solid #CCC;
}

.col-join-at {
    margin-top: 19px;
    padding-top: 10px;
    border-top: 1px solid #eee;
}
