{% extends 'layout/frontend.html' %}

{% block container %}
<div id="trade">
    <div class="panel panel-default">
        <div class="panel-body">
            <p class="lead">Trade</p>
            <hr>
            <div class="row">
                <div class="col-md-2">
                    <div class="well well-xs">
                        <ul class="nav nav-pills nav-stacked">
                            <li>
                                <a href="{{ urlForExtra('trade.index', {}, { status: 'trade' }) }}" data-tab="trade" data-tab-param="status">
                                    Trade
                                </a>
                            </li>
                            <li>
                                <a href="{{ urlForExtra('trade.index', {}, { status: 'done' }) }}" data-tab="done" data-tab-param="status">
                                    Done
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-10">
                    {% block container_trade %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
