{% extends 'layout/frontend.html' %}

{% block subtitle %}
    {{ user.username }}
{% endblock %}

{% block container %}
<div id="user-profile">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-8">
                    <div class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object img-rounded" src="{{ user.avatar(100) }}" alt="{{ user.username }}">
                        </a>
                        <div class="media-body">
                            <h2 class="media-heading">{{ user.username }}</h2>
                            {% if user.status == 'banned' %}
                                <div class="alert alert-warning">{{ locale('The user was banned') }}</div>
                            {% else %}
                                <small>
                                    <span class="glyphicon glyphicon-envelope"></span>
                                    <a href="{{ urlForExtra('message.create', {}, { username: user.username }) }}" class="text-muted">
                                        {{ locale('Message') }}
                                    </a>
                                    {% if isAdmin() %}
                                        &nbsp;-&nbsp;
                                        <span class="glyphicon glyphicon-ban-circle text-danger"></span>
                                        <a href="{{ urlFor('user.ban', { username: user.username }) }}" class="text-danger">
                                            {{ locale('Ban') }}
                                        </a>
                                    {% endif %}
                                </small>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <br class="visible-xs-block">
                    <div class="col-xs-12 col-md-12 text-right col-status-items">
                        <div class="col-xs-4 col-md-4">
                            <p class="text-info"><strong>{{ counter.publishs | default(0) }}</strong></p>
                            <div class="text-muted">Publishs</div>
                        </div>
                        <div class="col-xs-4 col-md-4">
                            <p class="text-info"><strong>{{ counter.dones | default(0) }}</strong></p>
                            <div class="text-muted">Dones</div>
                        </div>
                        <div class="col-xs-4 col-md-4">
                            <p class="text-info"><strong>{{ counter.bookmarks | default(0) }}</strong></p>
                            <div class="text-muted">Bookmarks</div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-12 text-center col-join-at">
                        <span class="text-info">{{ locale('Join at') }}</span>:
                        <span class="text-muted">{{ user.created_at }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <ul class="nav nav-pills" role="tablist">
                        <li>
                            <a href="{{ urlForExtra('user.profile', { username: user.username }, { tab: 'publish' }) }}" data-tab="publish" data-tab-param="tab">
                                {{ locale('Publishs') }}
                            </a>
                        </li>
                        <li>
                            <a href="{{ urlForExtra('user.profile', { username: user.username }, { tab: 'bookmark' }) }}" data-tab="bookmark" data-tab-param="tab">
                                {{ locale('Bookmarks') }}
                            </a>
                        </li>
                        <li>
                            <a href="{{ urlForExtra('user.profile', { username: user.username }, { tab: 'rate' }) }}" data-tab="rate" data-tab-param="tab">
                                {{ locale('Rates') }}
                            </a>
                        </li>
                    </ul>
                    <br>
                    {% block container_user_profile %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
