{% extends 'layout/frontend.html' %}

{% block container %}
<div class="search-index">
    <div class="panel panel-default">
        <div class="panel-body">
            <p class="lead">Search</p>
            <hr>
            <form method="post" action="{{ urlFor('search.index') }}">
                <input type="hidden" name="{{ csrf_key }}" value="{{ csrf_token }}">
                <div class="form-group">
                    <label for="keyword">Keyword</label>
                    <input type="keyword" class="form-control" name="keyword" id="keyword" required="required">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
