{% extends 'layout/frontend.html' %}

{% block container %}
<div id="index">
    <p class="lead">Current Item</p>
    <hr>
    <div class="row">
        {% for item in items %}
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-body panel-body-has-thumbnail">
                        <a class="thumbnail thumbnail-in-panel" href="#">
                            <img src="{{ itemImageUrl(item.images.first().image, '250x250') }}" data-src="" alt="">
                        </a>
                    </div>
                    <div class="panel-footer text-center">{{ item.title | cutString(30) }}</div>
                </div>
            </div>
        {% else %}
            <div class="col-md-12">
                <div class="alert alert-info" role="alert">No item on the list, Please create item first.</div>
            </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-md-12">
            {{ paginate | raw }}
        </div>
    </div>
</div>
{% endblock %}
