{% extends 'layout/frontend/user.html' %}

{% block container_user %}
<fieldset>
    <legend>Your Password</legend>
    <form method="post" action="{{ urlFor('user.password') }}">
        <input type="hidden" name="{{ csrf_key }}" value="{{ csrf_token }}">
        <div class="form-group">
            <label for="old_password">Old Password</label>
            <input type="password" class="form-control" name="old_password" id="old_password" required="required">
        </div>
        <div class="form-group">
            <label for="new_password">New Password</label>
            <input type="password" class="form-control" name="new_password" id="new_password" required="required">
        </div>
        <div class="form-group">
            <label for="confirm_password">Confirm Password</label>
            <input type="password" class="form-control" name="confirm_password" id="confirm_password" required="required">
        </div>
        <p class="text-danger">* When action completed, You need sign in again.</p>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</fieldset>
{% endblock %}
